*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --winning-blocks: rgb(241, 138, 138);
}
body{
    color: rgb(218, 59, 53);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size: 54px;
    text-transform: uppercase;
}

.container{
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 215, 215);
}
#gameboard {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(218, 59, 53);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}
.box:nth-child(3n){
    border-right:none;
}
.box:nth-child(6) ~ .box{
    border-bottom: none;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(218, 59, 53);
    color: antiquewhite;
    border-color: rgb(218, 59, 53);
    font-size: 19px;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
    transform: translateY(-px);
}
